:root {

    --font-size: 1rem;
    --line-height: 1.25;

    --color: #333333;
    --text-color: var(--color);
    --link-color: #336699;
    --link-color-hover: #33669999;

    --text-primary-color: #6699ff;
    --text-primary-color-hover: #6699ff99;
    --text-secondary-color: #eaeaea;
    --text-secondary-color-hover: #fafafa;
    --text-light-color: var(--text-secondary-color);
    --text-light-color-hover: var(--text-secondary-color-hover);
    --text-info-color: var(--text-secondary-color);
    --text-info-color-hover: var(--text-secondary-color-hover);
    --text-success-color: #339933;
    --text-success-color-hover: #33993399;
    --text-warning-color: #fec85b;
    --text-warning-color-hover: #fec85b99;
    --text-danger-color: rgb(192, 64, 64);
    --text-danger-color-hover: rgb(192, 128, 128);
    --text-white-color: #ffffff;
    --text-white-color-hover: #ffffff99;

    --bg-primary: var(--text-primary-color);
    --bg-primary-hover: var(--text-primary-color-hover);
    --bg-secondary: var(--text-secondary-color);
    --bg-secondary-hover: var(--text-secondary-color-hover);
    --bg-light: var(--text-light-color);
    --bg-light-hover: var(--text-light-color-hover);
    --bg-info: var(--text-info-color);
    --bg-info-hover: var(--text-info-color-hover);
    --bg-success: var(--text-success-color);
    --bg-success-hover: var(--text-success-color-hover);
    --bg-warning: var(--text-warning-color);
    --bg-warning-hover: var(--text-warning-color-hover);
    --bg-danger: var(--text-danger-color);
    --bg-danger-hover: var(--text-danger-color-hover);
    --bg-white: var(--text-white-color);
    --bg-white-hover: var(--text-white-color-hover);
    --bg-transparent: transparent;
    --bg-transparent-hover: transparent;

    --border-radius: 0px;
    --box-shadow: 0 0 4px #8885;

    --border-radius-rounded: 2rem;
    --border-radius-circle: 50%;

    --border-color: lightblue;

    --input-height: 2rem;
    --input-padding: 0.5rem;

    --label-color: currentColor;
    --label-light-color: var(--text-light-color);
}